
body {
    margin-top: 55px;
    /* overflow: hidden; */
    overflow: scroll;
}


/* start intro section */

.intro {
    background: url(../images/mix.jpg);
    color: #FFF;
    height: 100%;
    width: 100%;
    background-size: cover;
} 

 .intro span,
.intro h1 {
    font-size: 35px;
    font-family: 'Courgette', cursive;
}


.intro .container div {
    padding-top: 20%;
    padding-bottom: 13%;
}

 .intro .overlay {
    background-color: rgba(3, 3, 3, .65);
    height: 100%;
    
} 

.intro p {
    font-size: 18px;
}

.intro #Intro {
    text-align: center;
   
}

.arrow {
    text-align: center;
    color: #ccc;
    font-size: 40px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    margin: auto;
    /* margin-top: 30px; */
    font-weight: bold;
    overflow: hidden;
}

.arrow:hover {
    color: #eee;
}

.arrow i {
    animation: moving 1.5s infinite ease-in-out;
}

@keyframes moving {
    0% {
        transform: translateY(-56px);
    }
    100% {
        transform: translateY(29px);
    }
}




 /* end intro sec  */


.navbar-brand,
.head,
.header {
    font-family: 'Courgette', cursive;
    font-size: 30px;
}


* {
    box-sizing: border-box;
}

#navbarToggleExternalContent a:hover {
    color: #EF5C5C;
}


    /* header */
.head {
    display: inline-block;
}

.header {
    color: #EF5C5C;
    display: inline-block;
   
}

a.nav-link {
    cursor: pointer;
}



/* start login sec */

.dropdown-menu , .dropdown-item:hover{
    border-radius: 10px;
    background-color: #f5d9cc;
}

 #dropForm {
    left: 950px;
    color: #3636ED;
    top:80%;
    width: 250px;
}

/* login button */

#DropdownForm {
    padding-top: 15px;
    text-align: center;
}

#DropdownForm1 {
    border-radius: 10px;   
}

.success {
	font-size: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* padding: 200px 0; */
    z-index: 200;
    /* background: rgba(3, 3, 3, 0.7); */
}

.success i {
	-webkit-animation: rotate .7s ease-in-out;
	-o-animation: rotate .7s ease-in-out;
	animation: rotate .7s ease-in-out;
}

.success a {
	color: red
}


/* end login sec */



/* start signup sec */
















/* end sign up sec */



/* start categories sec */

.restaurantORrecipe{
    margin-top: 70px;
    margin-bottom: 70px;
}

.restaurants{
    width: 600px;
    height: 500px;
    float:left;
}

.restaurant{
     width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid Tomato;
    position:absolute; 
}

.recipes{
   width: 500px;
    float:left;
}
.recipe{
     width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid Tomato;
    position:absolute;
    margin-left:100px;
}
.clear{
    clear:both;
}

.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 100px;
    font-size: 20px;
    line-height: 1.33;
     position: relative;
}
.small_images{
      width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 80px;
    font-size: 20px;
    line-height: 1.33;
    position: relative;
     opacity: 0.85;
/*    display: none;*/
}

.small_images:hover{
     opacity: 1.0;
}

.restaurant:hover{
   /* show: small_images; */
}

.R1{
    left: 10px;
    bottom: 60px;
}

.R2{
    top: 140px;
    left:200px;
}

.R3{
    bottom:60px;
    right: 65px;
}

.R4{
    right: 100px;
    top:10px;
}

.R5{
    top: 170px;
    right:120px;
}

.R6{
    right:55px;
    top:160px;
}
/*******************************************/
.C1{
    left:85px;
    bottom:45px;
}

.C2{
    right:155px;
    top:130px;
}

.C3{
    left:135px;
    top:120px;
}

.C4{
    left:340px;
    bottom:210px;
}

.C5{
    right:55px;
    top:160px;
}

.C6{
    left:55px;
    top:160px;
}

/*

.a{
position: relative;
}

.firsttext{
    position: relative;
    text-align: center;
    color: white;
}
*/
/*To make carousel-indicators circular*/
.carousel-indicators > li {  
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color:cadetblue;
}

/*
.imagerecommend{
    width: auto;
    height: auto;
    border-color: blue;
}
*/

.re{
    font-family:cursive;
    color:cornflowerblue;
}
/*

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
*/















/* end categories sec */



/* start contact us sec */



















/* end contact us sec */



/* start footer */

footer {
    background-color: #080c29;
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
}

footer .copy-rights {
    margin-bottom: 10px;
}

footer .social a {
    color: #fff;
    display: inline-block;
    background: #ccc;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
}

footer .social a:first-child {
    background-color: #3B5998;
}

footer .social a:nth-child(2) {
    background-color: #1DA1F2;
}

footer .social a:nth-child(3) {
    background-color: #B7177B;
}


/* end footer */