.restcateg {
        background: url("../../images/RestCateg/Dessert/dessert11.jpg");
    
        /* Full height */
        height: 100%; 
        padding-top: 20px;
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;

}

.overlay {
    background-color: rgba(3, 3, 3, .6);
    height: 100%;
    padding: 50px;
}

.list-group{
    padding-bottom: 50px;
    width: 500px;
    /* margin: auto; */
    /* background-color: rgba(180, 177, 177, 0.6); */
}

.list-group-item{
    background-color: transparent;
    border: 2px solid #c16758;
   
}
.list-group-item-heading{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
