@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
/* #abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}

img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}

div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}

form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}

p {
margin-top:30px
}
h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}

input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
} */

/* #name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
} */
/* textarea {
/* background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px; 
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
} */
/* 
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

span {
color:red;
font-weight:700
}

button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
} */


.form{
    background: url("../../images/Buffet_New.jpg");
    background-size: cover;
}
.overlay {
    background-color: rgba(3, 3, 3, .6);
    height: 100%;
    
} 

.strip{
    padding-top: 120px;
    padding-bottom: 100px;
}
 #dropForm {
    background-color: rgba(236, 232, 232, 0.2);
    margin: auto;
    color: white;
    width: 375px;
    padding-top: 20px;
    border-radius: 10px;
   
 }

 .form-group{
     padding: 20px;
     width: 350px;
     margin: auto;
 }

 .form-a{
     
     margin: auto;
     padding-bottom: 20px;

 }

 .form-a a{
    color: white;
 }

 .form-a a:hover{
     color: red;
     text-decoration: none;
 }

#DropdownForm {
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;   
}
.submitbutton{
    width: 200px;
    margin: auto;
}


.success {
	font-size: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 200px 0;
    z-index: 200;
    background: rgba(3, 3, 3, 0.7);
}

.success i {
	-webkit-animation: rotate .7s ease-in-out;
	-o-animation: rotate .7s ease-in-out;
	animation: rotate .7s ease-in-out;
}


.error{
    width: 300px;
    margin: auto;
    padding-top: 80px;
}
