
.form{
    background: url("../../images/Buffet_New.jpg");
    background-size: cover;
}
.overlay {
    background-color: rgba(3, 3, 3, .6);
    height: 100%;
    
} 

.strip{
    padding-top: 120px;
    padding-bottom: 100px;
}

.Title{
    text-align: center;
    padding-bottom: 50px;
    color: white;
    font-family: cursive;
}
 #dropForm {
    background-color: rgba(236, 232, 232, 0.2);
    margin: auto;
    color: white;
    width: 600px;
    padding-top: 20px;
    border-radius: 10px;
   
 }

 .form-group{
     padding: 20px;
     width: 320px;
    
 }

 label{
     padding-right: 5px;
 }
 .form-a{
     
     margin: auto;
     padding-bottom: 20px;

 }

 .form-a a{
    color: white;
 }

 .form-a a:hover{
     color: red;
     text-decoration: none;
 }

#DropdownForm {
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;   
}
.submitbutton{
    width: 200px;
    margin: auto;
}


.success {
	font-size: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 200px 0;
    z-index: 200;
    background: rgba(3, 3, 3, 0.7);
}

.success i {
	-webkit-animation: rotate .7s ease-in-out;
	-o-animation: rotate .7s ease-in-out;
	animation: rotate .7s ease-in-out;
}


.error{
    width: 300px;
    margin: auto;
    padding-top: 80px;
}

.reserve{
    display: none;
}