#about {
    padding-top: 130px;
    padding-bottom: 90px
}


.content {
    background: url(../../images/Vision.jpg);
    padding-top: 80px;
    padding-bottom:80px;
    box-shadow: -3px 3px 5px #bfbdbd;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;
}


.content:after {
    
    border-color: #eee transparent;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    border-width: 0 40px 40px 0;
    border-style: solid; 
    box-shadow: -3px 3px 5px #272626;
    background-color: white; 
}


#first , #second {
    background-color: rgba(228, 225, 225, 0.3);
    padding-top:20px;
    padding-bottom:20px
}


#desc {
    background: url(../../images/description.jpg);
    background-size:cover;
    margin-top: 20px;
    padding:80px;
}